<h1>To Do List</h1>

<%= link_to "Add a new task", new_task_path %>

<% @tasks.each do |task| %>
  <h3><%= link_to task.title, task_path(task) %></h3>
  <p><%= task.description %></p>
  <p><%= task.deadline %></p>
  <p>Priority: <%= task.priority %></p>
  <p><%= link_to "Edit this task", edit_task_path(task) %></p>
  <%= link_to "Delete this task", task_path(task), method: :delete %>
<% end %>
